<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
         <typeAlias alias="PriceTag" type="cn.springmvc.model.PriceTag"/>
         <typeAlias alias="Goods" type="cn.springmvc.model.Goods"/>
         <typeAlias alias="Select" type="cn.springmvc.model.Select"/>
         <typeAlias alias="RequestParams" type="cn.springmvc.model.RequestParams"/>
         <typeAlias alias="PaymentDetail" type="cn.springmvc.model.PaymentDetail"/>
         <typeAlias alias="newUser" type="cn.springmvc.model.newUser"/>
         <typeAlias alias="User" type="cn.springmvc.model.User"/>
         <typeAlias alias="SkuCheck" type="cn.springmvc.model.SkuCheck"/>
         <typeAlias alias="SkuCheckDetail" type="cn.springmvc.model.SkuCheckDetail"/>
         <typeAlias alias="EquCheck" type="cn.springmvc.model.EquCheck"/>
         <typeAlias alias="EquCheckDetail" type="cn.springmvc.model.EquCheckDetail"/>
         <typeAlias alias="Equipment" type="cn.springmvc.model.Equipment"/>
         <typeAlias alias="GoodsInfo" type="cn.springmvc.model.GoodsInfo"/>
         <typeAlias alias="TransferGood" type="cn.springmvc.model.TransferGood"/>
         <typeAlias alias="TransferOrder" type="cn.springmvc.model.TransferOrder"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>