<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.springmvc.daoLvdi.GetGoodsDao">

	<select id="getGoodsId" resultType="RefrePrcModel">
		SELECT
		cargo_num AS cargoNum,
		goods_no AS goodsNo,
		cargo_id AS CargoId
		FROM
		e_goods_cargo a
		LEFT JOIN e_goods_info b ON
		a.goods_id = b.goods_id
		WHERE
		b.goods_no IN
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
		AND
		b.gc_type = "ECGC01"
	</select>

</mapper>