<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.PriceTagDAO">
    
         <select id="selectAllPriceTags" resultType="PriceTag">
          SELECT * FROM PriceTagInfo;
         </select>
         
         <insert id="insertPriceTag" parameterType="PriceTag" keyProperty="id">
			INSERT INTO PriceTagInfo 
			(`shopId`, `goodsNo`, `goodsName`, `unit`, `specifications`, `goodsOrigin`, 
			`salesPrice`, `propmPrice`, `marketPrice`, `qrCode`) VALUES 
			(#{shopId}, 
			#{goodsNo},
			 #{goodsName}, 
			 #{unit}, 
			 #{specifications}, 
			 #{goodsOrigin}, 
			 #{salesPrice}, 
			 #{propmPrice}, 
			 #{marketPrice}, 
			 #{qrCode});

         </insert>
     
         <select id="selectPriceTagsById" parameterType="String" resultType="PriceTag">
           SELECT * FROM PriceTagInfo WHERE id=#{id};
         </select>
         
         <delete id="deletePriceTag" parameterType="String">
         	DELETE FROM PriceTagInfo WHERE id=#{id}
         </delete>
         
         <update id="updatePriceTag" parameterType="PriceTag">
         	UPDATE PriceTagInfo SET shopId = #{shopId}, goodsNo = #{goodsNo},
         	goodsName = #{goodsName},unit = #{unit}, specifications = #{specifications},
         	goodsOrigin = #{goodsOrigin}, salesPrice = #{salesPrice}, propmPrice = #{propmPrice}, 
         	marketPrice = #{marketPrice} WHERE id = #{id};
         </update>
         
         <select id="selectPriceTagsByParams" parameterType="RequestParams" resultType="PriceTag" >
         	SELECT * FROM PriceTagInfo WHERE 1 =1
         	<if test ="shopId != null">
         		AND shopId = #{shopId}
         	</if>
         	<if test="origin != null">
         		AND goodsOrigin = #{origin}
         	</if>
         	<if test="keyWord != null">
         		AND goodsName LIKE CONCAT('%','${keyWord}','%' )
         	</if>
         	;
         </select>
                  
         <update id="updatePriceTagByGoodsNo" parameterType="PriceTag">
            UPDATE PriceTagInfo SET 
         	goodsName = #{goodsName},unit = #{unit}, specifications = #{specifications},
         	goodsOrigin = #{goodsOrigin}, salesPrice = #{salesPrice}, propmPrice = #{propmPrice}, 
         	marketPrice = #{marketPrice} WHERE goodsNo = #{goodsNo};
         </update>
</mapper>
