<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.springmvc.dao.SelectDAO">

	<select id="selectAllShop" resultType="Select">
		SELECT
		shopId AS id,
		shopName AS content
		FROM
		shop
		WHERE
		shopId != 'KJG000'
	</select>

	<select id="selectAllOrigin" resultType="String">
		SELECT DISTINCT
		goodsOrigin FROM PriceTagInfo;
	</select>
</mapper>
