<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.springmvc.daoLvdi.SkuExtraDao">
	<select id="getGoodsByNo" parameterType="String" resultType="GoodsInfo">
		select cargo_no,cargo_name,purchase_price,market_price,shop_price from e_goods_cargo
		where cargo_no=#{goodsNo}
	</select>
</mapper>