<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.springmvc.dao.UserDAO">
	<select id="getSingleUser" parameterType="User" resultType="User">
		SELECT *
		FROM user
		WHERE username = #{username} AND password =#{password} ;
	</select>

	<select id="changePassword" parameterType="newUser" resultType="User">
		Update user
		SET
		password =#{newPassword}
		WHERE
		username = #{username};
	</select>
	
	<select id="resetUserInfo" parameterType="User" resultType="User">
		Update user
		SET
		username = #{username},
		email = #{email}
		WHERE
		id = #{id};
	</select>
</mapper>